extends layout.pug

append style
    include manage.css

block script
    include manage.js

block title-bar
    +titleBar("Manage Database")
    div#controls
        div#table.slide-radio.three
            input#authors.toggle-option(
                type='radio'
                name='table'
                value='authors'
                onchange='refreshData()'
                checked
            )
            label(for='authors') Listeners
            
            input#guesses.toggle-option(
                type='radio'
                name='table'
                value='guesses'
                onchange='refreshData()'
            )
            label(for='guesses') TWSF Guesses
            
            input#suggestions.toggle-option(
                type='radio'
                name='table'
                value='suggestions'
                onchange='refreshData()'
            )
            label(for='suggestions') Title Suggestions
            
            div.slider
        input(
            type='number'
            value='200'
            step='50'
            min='50'
            onchange="loadAuthors()"
        )#records-per-page

block content
    div.center-container
        div#data-table.card
            //- div.rolodex.author-9
            //-     div.callsign
            //-         p.authorId 20
            //-         p(contenteditable)
            //--            The Greek
            //-     div.socials
            //-         div.discord
            //-             div.icon
            //-             div.username The Greek
            //-             div.display-name The Greek
            //-         div.twitter
            //-             div.icon
            //-             div.username Damonjalis
            //-             div.display-name The Greek
            //-         div.social-divider
            //-         div.email
            //-             div.icon
            //-             div.username mrdcarras@gmail.com
            //-             div.display-name Damonjalis
            //-     textarea(placeholder="No listener notes yet...").notes You know this guy...
    div#pagination
        button#page-first(onclick="loadFirstPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
        button#page-prev(onclick="decrementPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
        span(
            contenteditable
            onfocus="pageCurrFocus()"
            onblur="loadAuthors()"
        )#page-curr.pagination-text
        p#page-divide.pagination-text /
        p#page-total.pagination-text
        button#page-next(onclick="incrementPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
        button#page-last(onclick="loadLastPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")