extends layout.pug

append style
    include manage.css

block script
    include manage.js
    include manage-author.js
    include manage-guesses.js

block title-bar
    +titleBar("Manage Database")
    div#controls
        //- div#table-selector.slide-radio.three
            input#authors.toggle-option(
                type='radio'
                name='table'
                value='authors'
                onchange='changeTable()'
                checked
            )
            label(for='authors') Listeners
            
            input#guesses.toggle-option(
                type='radio'
                name='table'
                value='guesses'
                onchange='changeTable()'
            )
            label(for='guesses') TWSF Guesses
            
            input#suggestions.toggle-option(
                type='radio'
                name='table'
                value='suggestions'
                onchange='changeTable()'
            )
            label(for='suggestions') Title Suggestions
            
            div.slider

        div.bookmark-for-expandable
            input(
                type='text'
                oninput="performSearch()"
            )#search-input
        input(
            type='number'
            value='200'
            step='50'
            min='50'
            onchange="loadAuthors()"
        )#records-per-page
        button(onclick="restoreUndoState()")#undo.disabled
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z")
                path(d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z")
        button#search-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z")
        button#merge-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-intersect"
                viewBox="0 0 16 16"
            )
                path(d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5zm6-8V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2V6a2 2 0 0 1 2-2h5z")

block content
    div.center-container
        div#data-table.card
            //- div(data-author-id="20").rolodex
            //-     div.callsign
            //-         p.authorId 20
            //-         p(contenteditable)
            //--            The Greek
            //-         span.edit-icon
            //-     div.socials
            //-         div.discord
            //-             div.icon
            //-             div.username The Greek
            //-             div.display-name The Greek
            //-         div.twitter
            //-             div.icon
            //-             div.username Damonjalis
            //-             div.display-name The Greek
            //-         div.social-divider
            //-         div.email
            //-             div.icon
            //-             div.username mrdcarras@gmail.com
            //-             div.display-name Damonjalis
            //-     textarea(placeholder="No listener notes yet...").notes You know this guy...
            
            //- div(data-author-id).row-container
                    div.info.card
                        div.link.discord //- Link goes first so that others can select off its class
                        h3.callsign Ben Etherington
                        div.points.slide-radio.three
                            input#none-2.toggle-option(
                                type='radio' name='points-2' value='none' required
                            )
                            label(for="none-2")
                            input#correct-2.toggle-option(
                                type='radio' name='points-2' value='correct' required
                            )
                            label(for="correct-2")
                            input#bonus-2.toggle-option(
                                type='radio' name='points-2' value='bonus' required
                            )
                            label(for="bonus-2")
                            div.slider
                    div.text
                        | A potato maybe?

    div#pagination
        button#page-first(onclick="loadFirstPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
        button#page-prev(onclick="decrementPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
        span(
            contenteditable
            onfocus="pageCurrFocus()"
            onblur="loadAuthors()"
        )#page-curr.pagination-text
        p#page-divide.pagination-text /
        p#page-total.pagination-text
        button#page-next(onclick="incrementPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
        button#page-last(onclick="loadLastPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
    div#merge.card.hidden
        h2 Merge two authors
        div.input
            label(for="author-keep") Author ID
            input(
                type="text"
                name="author-keep"
                oninput="validateMergeInputs()"
                placeholder="SAFE"
            )#authorKeepId
            label(for="author-delete") Author ID
            input(
                type="text"
                name="author-delete"
                oninput="validateMergeInputs()"
                placeholder="NOT SAFE"
            )#authorDeleteId
        div.card#merge-rolodex-container
        button(onclick="previewAuthorMerge()" disabled)#merge-preview Preview Merge
        button(onclick="doAuthorMerge()").hidden#merge-do Merge Authors
        div.notification.card
