extends layout.pug

append style
    include manage.css

block script
    include manage.js

block title-bar
    +titleBar("Manage Database")
    div#controls
        div#table.slide-radio.three
            input#authors.toggle-option(
                type='radio'
                name='table'
                value='authors'
                onchange='refreshData()'
                checked
            )
            label(for='authors') Listeners
            
            input#guesses.toggle-option(
                type='radio'
                name='table'
                value='guesses'
                onchange='refreshData()'
            )
            label(for='guesses') TWSF Guesses
            
            input#suggestions.toggle-option(
                type='radio'
                name='table'
                value='suggestions'
                onchange='refreshData()'
            )
            label(for='suggestions') Title Suggestions
            
            div.slider
        input(
            type='number'
            value='200'
            step='50'
            min='50'
            onchange="loadAuthors()"
        )#records-per-page
        button(onclick="restoreUndoState()")#undo.disabled
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z")
                path(d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z")
        button#merge-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-intersect"
                viewBox="0 0 16 16"
            )
                path(d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5zm6-8V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2V6a2 2 0 0 1 2-2h5z")

block content
    div.center-container
        div#data-table.card
            //- div(data-author-id="20").rolodex
            //-     div.callsign
            //-         p.authorId 20
            //-         p(contenteditable)
            //--            The Greek
            //-         span.edit-icon
            //-     div.socials
            //-         div.discord
            //-             div.icon
            //-             div.username The Greek
            //-             div.display-name The Greek
            //-         div.twitter
            //-             div.icon
            //-             div.username Damonjalis
            //-             div.display-name The Greek
            //-         div.social-divider
            //-         div.email
            //-             div.icon
            //-             div.username mrdcarras@gmail.com
            //-             div.display-name Damonjalis
            //-     textarea(placeholder="No listener notes yet...").notes You know this guy...
    div#pagination
        button#page-first(onclick="loadFirstPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
        button#page-prev(onclick="decrementPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            )
                path(d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z")
        span(
            contenteditable
            onfocus="pageCurrFocus()"
            onblur="loadAuthors()"
        )#page-curr.pagination-text
        p#page-divide.pagination-text /
        p#page-total.pagination-text
        button#page-next(onclick="incrementPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
        button#page-last(onclick="loadLastPage()").pagination-button
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
            svg(
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            )
                path(d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
    div#merge.card.hidden
        h2 Merge two authors
        div.input
            label(for="author-keep") Author ID
            input(
                type="text"
                name="author-keep"
                oninput="validateMergeInputs()"
                placeholder="SAFE"
            )#authorKeepId
            label(for="author-delete") Author ID
            input(
                type="text"
                name="author-delete"
                oninput="validateMergeInputs()"
                placeholder="NOT SAFE"
            )#authorDeleteId
        div.card#merge-rolodex-container
        button(onclick="previewAuthorMerge()" disabled)#merge-preview Preview Merge
        button(onclick="doAuthorMerge()").hidden#merge-do Merge Authors
        div.notification.card
