extends layout.pug

append style
    include manage.css

block script
    include manage.js

block title-bar
    +titleBar("Manage Database")
    div#controls
        div#table.slide-radio.three
            input#authors.toggle-option(
                type='radio'
                name='table'
                value='authors'
                onchange='refreshData()'
                checked
            )
            label(for='authors') Listeners
            
            input#guesses.toggle-option(
                type='radio'
                name='table'
                value='guesses'
                onchange='refreshData()'
            )
            label(for='guesses') TWSF Guesses
            
            input#suggestions.toggle-option(
                type='radio'
                name='table'
                value='suggestions'
                onchange='refreshData()'
            )
            label(for='suggestions') Title Suggestions
            
            div.slider

block content
    div#data-table.card
        //- div.rolodex.author-9
        //-     div.callsign The Greek
        //-     div.info
        //-         div.discord
        //-             div.icon
        //-             div.username The Greek
        //-             div.display-name The Greek
        //-         div.twitter
        //-             div.icon
        //-             div.username Damonjalis
        //-             div.display-name The Greek
        //-         div.email
        //-             div.icon
        //-             div.username mrdcarras@gmail.com
        //-             div.display-name Damonjalis
        //-     textarea(placeholder="No listener notes yet...").notes You know this guy...
    div#pagination
        button#page-first(onclick="loadFirstPage()").solid <<
        button#page-prev(onclick="decrementPage()").solid <
        span(contenteditable onfocus="pageCurrFocus()" onblur="loadAuthors()")#page-curr 1
        p#page-divide /
        p#page-total
        button#page-next(onclick="incrementPage()").solid >
        button#page-last(onclick="loadLastPage()").solid >>