extends layout.pug

append style
    include twsf.css

block script
    != "const guessTypes = " + guessTypes + ";"
    include twsf.js

block title-bar
    +titleBar("This Week in Spaceflight History")
    div#controls
        div#filter.slide-radio.three
            input#week.toggle-option(
                type='radio'
                name='filter'
                value='week'
                checked
            )
            label(for="week") Default
            
            input#unscored.toggle-option(
                type='radio'
                name='filter'
                value='unscored'
            )
            label(for="unscored") Show New
            
            input#all.toggle-option(
                type='radio'
                name='filter'
                value='all'
            )
            label(for="all") Show All
            
            div.slider

block content
    div#guesses.card
    //-
        div.row-container
            div.info.card
                div.link.discord //- Link goes first so that others can select off its class
                h3.callsign Ben Etherington
                div.points.slide-radio.three
                    input#none-2.toggle-option(
                        type='radio' name='points-2' value='none' required
                    )
                    label(for="none-2")
                    input#correct-2.toggle-option(
                        type='radio' name='points-2' value='correct' required
                    )
                    label(for="correct-2")
                    input#bonus-2.toggle-option(
                        type='radio' name='points-2' value='bonus' required
                    )
                    label(for="bonus-2")
                    div.slider
            div.text
                | A potato maybe?
    div#summaries
        h4.card TWSF Winners
        h4.card TWSF clue template
        h4.card Chat thank-yous
        div#winners.card(title="Click: copy to clipboard")
        div#next-week.card(title="Click: copy to clipboard")
        div#thank-you.card(title="Click: copy to clipboard")
        
block templates
    template#row-container
        .row-container
            .info.card
                .link
                h3.callsign
                .points.slide-radio.three
                    input( class="toggle-option"
                           id="none-id"
                           type="radio"
                           name="points-id"
                           value="none"
                           required )
                    label(for="none-id")
                    
                    input( class="toggle-option"
                           id="correct-id"
                           type="radio"
                           name="points-id"
                           value="correct"
                           required )
                    label(for="correct-id")
                    
                    input( class="toggle-option"
                           id="bonus-id"
                           type="radio"
                           name="points-id"
                           value="bonus"
                           required )
                    label(for="bonus-id")
                    
                    .slider
            .text