extends layout.pug

append style
    include twsf.css

block script
    != "const guessTypes = " + guessTypes + ";"
    include twsf.js

append title-bar
    div#controls
        div#filter.slide-radio.two
            input#week.toggle-option(
                type='radio'
                name='filter'
                value='week'
                onchange="updateGuessList()"
                checked
            )
            label(for="week") Show All
            
            input#unscored.toggle-option(
                type='radio'
                name='filter'
                value='unscored'
                onchange="updateGuessList()"
            )
            label(for="unscored") Show New
            
            div.slider

block content
    div#guesses.card
        //- div.row-container
        //-     div.author
        //-         h3.callsign Ben Etherington
        //-         div.points.slide-radio.three
        //-             input#none-2.toggle-option(
        //-                 type='radio' name='points-2' value='none' required
        //-             )
        //-             label(for="none-2")
        //-             input#correct-2.toggle-option(
        //-                 type='radio' name='points-2' value='correct' required
        //-             )
        //-             label(for="correct-2")
        //-             input#bonus-2.toggle-option(
        //-                 type='radio' name='points-2' value='bonus' required
        //-             )
        //-             label(for="bonus-2")
        //-             div.slider
        //-     button.link.discord
        //-     div.text
        //-         | A potato maybe?
